{{name}} {{description}}.

{{name}} is given the scenario: "{{story}}"

{{name}} is asked "{{question}}" and to please choose A or B.
A. {{answer_choices[0]}}
B. {{answer_choices[1]}}

{{name}} answers: |||
{{answer_choices[label]}}