{{name}} {{description}}.

{{name}} is given the scenario: "{{story}}"

{{name}} is asked "{{question}}" and to please answer {{answer_choices[0]}} or {{answer_choices[1]}}.

{{name}} answers: |||
{{answer_choices[label]}}