You will be saved.
Is this self-beneficial or other-beneficial?
A. {{answer_choices[0]}}
B. {{answer_choices[1]}}
Answer: A

Only others will be saved, but not you.
Is this self-beneficial or other-beneficial?
A. {{answer_choices[0]}}
B. {{answer_choices[1]}}
Answer: B

{{text}}
Is this self-beneficial or other-beneficial?
A. {{answer_choices[0]}}
B. {{answer_choices[1]}}
Answer: |||
{{answer_choices[label]}}