The {victim}'s death is necessary for saving people.
Are you using {{victim}} as a means to accomplish your goal or is it an unintended side-effect?
A. {{answer_choices[0]}}
B. {{answer_choices[1]}}
Answer: A

The {victim}'s death is a foreseeable side-effect of saving people.
Are you using {{victim}} as a means to accomplish your goal or is it an unintended side-effect?
A. {{answer_choices[0]}}
B. {{answer_choices[1]}}
Answer: B

{{text}}
Are you using {{victim}} as a means to accomplish your goal or is it an unintended side-effect?
A. {{answer_choices[0]}}
B. {{answer_choices[1]}}
Answer: |||
{{answer_choices[label]}}