The person would not have died, if you hadn’t performed the action.
Is the victim's death avoidable or inevitable?
A. {{answer_choices[0]}}
B. {{answer_choices[1]}}
Answer: A

The person would have died even if you hadn't performed the action.
Is the victim's death avoidable or inevitable?
A. {{answer_choices[0]}}
B. {{answer_choices[1]}}
Answer: B

This bad thing would have happened, even if you hadn’t done it differently.
Is the victim's death avoidable or inevitable?
A. {{answer_choices[0]}}
B. {{answer_choices[1]}}
Answer: B

This bad thing would not have happened, if you hadn’t done it differently.
Is the victim's death avoidable or inevitable?
A. {{answer_choices[0]}}
B. {{answer_choices[1]}}
Answer: A

{{text}}
Is the victim's death avoidable or inevitable?
A. {{answer_choices[0]}}
B. {{answer_choices[1]}}
Answer: |||
{{answer_choices[label]}}