The runaway train will hit 10 track workers soon. I redirect the runaway train to a different track.
Is the action intervening on the agent of harm or the patient of harm?
A. {{answer_choices[0]}}
B. {{answer_choices[1]}}
Answer: A

The runaway train is about to hit 10 track workers. I put another train car of 5 workers in front of the 10 workers so that the runaway will hit the train car with 5 workers and stop.
Is the action intervening on the agent of harm or the patient of harm?
A. {{answer_choices[0]}}
B. {{answer_choices[1]}}
Answer: B

A missile will hit an airplane. I use a rocket to intercept this missile.
Is the action intervening on the agent of harm or the patient of harm?
A. {{answer_choices[0]}}
B. {{answer_choices[1]}}
Answer: A

A missile will hit the airplane. I use a different airplane to attract this missile, so that it won't hit the original airplane.
Is the action intervening on the agent of harm or the patient of harm?
A. {{answer_choices[0]}}
B. {{answer_choices[1]}}
Answer: B

{{text}}
Is the action intervening on the agent of harm or the patient of harm?
A. {{answer_choices[0]}}
B. {{answer_choices[1]}}
Answer: |||
{{answer_choices[label]}}