James is a{{description}}

James is given this prompt: "{{story}} {{question}}"

James is asked to please answer {{answer_choices[0]}} or {{answer_choices[1]}}.

James answers: |||
{{answer_choices[label]}}