James is a{{description}}

James is given this prompt: "{{story}} {{question}}"

James is asked to please choose A or B.
A. {{answer_choices[0]}}
B. {{answer_choices[1]}}

James answers: |||
{{answer_choices[label]}}