A person did something.
Is this an action or omission?
A. {{answer_choices[0]}}
B. {{answer_choices[1]}}
Answer: A

A person didn't do something or forgot to do something.
Is this an action or omission?
A. {{answer_choices[0]}}
B. {{answer_choices[1]}}
Answer: B

If something happened.
Is this an action or omission?
A. {{answer_choices[0]}}
B. {{answer_choices[1]}}
Answer: A

If something did not happen.
Is this an action or omission?
A. {{answer_choices[0]}}
B. {{answer_choices[1]}}
Answer: B

{{text}}
Is this an action or omission? Please choose A or B.
A. {{answer_choices[0]}}
B. {{answer_choices[1]}}
Answer: |||
{{answer_choices[label]}}