Both A and B need to happen in order for C to happen.
Is this conjunctive or disjunctive?
A. {{answer_choices[0]}}
B. {{answer_choices[1]}}
Answer: A

Either A or B (or both) need to happen in order for C to happen.
Is this conjunctive or disjunctive?
A. {{answer_choices[0]}}
B. {{answer_choices[1]}}
Answer: B

{{text}}
Is this conjunctive or disjunctive?
A. {{answer_choices[0]}}
B. {{answer_choices[1]}}
Answer: |||
{{answer_choices[label]}}