Norm: Only Tom is allowed to drink water. Bill is not allowed.
Event: Bill drinks water.
Is this event normal or abnormal?
A. {{answer_choices[0]}}
B. {{answer_choices[1]}}
Answer: B

Norm: Only Tom is allowed to drink water. Bill is not allowed.
Event: Tom drinks water.
Is this event normal or abnormal?
A. {{answer_choices[0]}}
B. {{answer_choices[1]}}
Answer: A

Norm: The truck usually arrives on Friday.
Event: The truck did not arrive on Friday.
Is this event normal or abnormal?
A. {{answer_choices[0]}}
B. {{answer_choices[1]}}
Answer: B

Norm: Thou shall not kill steal or do terrible things.
Event: A thief steals from a household.
Is this event normal or abnormal?
A. {{answer_choices[0]}}
B. {{answer_choices[1]}}
Answer: B

Norm: {{norm}}
Event: {{text}}
Is this event normal or abnormal? Please choose A or B.
A. {{answer_choices[0]}}
B. {{answer_choices[1]}}
Answer: |||
{{answer_choices[label]}}