Only Tom is allowed to drink water. Bill is not allowed.
Is this a prescriptive norm or statistical norm?
A. {{answer_choices[0]}}
B. {{answer_choices[1]}}
Answer: A

The truck usually arrives on Friday.
Is this a prescriptive norm or statistical norm?
A. {{answer_choices[0]}}
B. {{answer_choices[1]}}
Answer: B

The design of the machine is supposed to make a sound.
Is this a prescriptive norm or statistical norm?
A. {{answer_choices[0]}}
B. {{answer_choices[1]}}
Answer: A

Thou shall not kill steal or do terrible things.
Is this a prescriptive norm or statistical norm?
A. {{answer_choices[0]}}
B. {{answer_choices[1]}}
Answer: A

Crime life generally leads to a violent end.
Is this a prescriptive norm or statistical norm?
A. {{answer_choices[0]}}
B. {{answer_choices[1]}}
Answer: B

{{text}}
Is this a prescriptive norm or statistical norm?
A. {{answer_choices[0]}}
B. {{answer_choices[1]}}
Answer: |||
{{answer_choices[label]}}